.objectives {
    width: 100%;
    height: 100%;
    padding: 3rem 0;
    margin: auto;
}
.objectives h2 {
    text-align: center;
    padding: 1.5rem 0;
}

.objectives .container {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap: 1.5rem;
    padding: 0 1rem;
    text-align: center;
}
.objectives .icon {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--primary-dark);
} 


@media screen and (max-width:940px){
    .objectives .container {
        grid-template-columns: 1fr;
    }
}
