.destinations .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.header {
    text-align: center;
    padding: 1rem;
}
@media screen and (max-width: 740px) {
    .destinations .container {
        grid-template-columns: 1fr;
    }
}